attrs==21.4.0
barnum==0.5.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
flasgger==0.9.5
Flask==1.1.2
Flask-Script==2.0.6
future==0.18.2
idna==3.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
MarkupSafe==2.1.1
mistune==2.0.2
nltk==3.7
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyrsistent==0.18.1
python-dotenv==0.19.2
PyYAML==6.0
regex==2022.3.15
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
tqdm==4.63.0
urllib3==1.26.9
Werkzeug==2.0.3
zipp==3.7.0
